.Project__container{
    background:#0D1F18;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    padding:40px;
    }
.Project__title{
    font-weight: bolder;
    font-size: xx-large;
    color: #F8F4E2;
    font-family: Anton,sans-serif;
    background-color: #0D1F18;
        padding: 20px 0 20px 50px;
}
.Project__message{
    background:#0D1F18;
    font-family: Anton,sans-serif;
    color: #F8F4E2;
    padding-left: 50px;
    padding-bottom: 20px;
    font-size: x-large;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    display: block;
}
.bigCard__items{
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 16px 12px;
}
