.container {

    background-color: #0D1F18;
    color: #F8F4E2;
    font-family: Anton,sans-serif;
    padding-left: 20px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 2rem;
}
.secondeContainer {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    position: relative;
    width: 50%;
    height: 300px;
}
.turtel {
    object-fit: contain;
}
