.container {
    display: flex;
    background-color:red;
    color: #F8F4E2;
    font-family: Anton, sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    gap: 2rem;

}

.imageWrapper {
    gap:20px;
    display: flex;
    flex-direction: column;
    background:#0D1F18;
    width: 100%;
}

.turtel {
    height: auto;
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.turtleContainer{
    width: 50%;
    display: flex;
    background: orange;
    justify-content:space-between;
    margin-right: 70%;
    overflow: visible;
}


@media screen and (max-width: 48rem) {
    .container{
        display: flex;
        background: darkcyan;
    }

    .imageWrapper {
        display: flex;
        position: absolute;
        flex-direction:column;
        background: #0D1F18;
        gap:0;

    }
    .turtleContainer {
        display: flex;
        align-items: center;
    }
    .title {
        margin: 1rem;
        font-size: xx-large;
    }
    .subtitle{
        margin:1rem;
    }
    .turtel {
        display: flex;
        right: 0;
        height: 150px;
        width: 200px;
        /*position: absolute;*/
        margin-left: auto;
        position: relative;;

    }
    /*Modifier ortho de turtle*/
}