.container {
    display: flex;
    flex-direction: column;
    background-color: #0D1F18;
    color: #F8F4E2;
    font-family: Anton, sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    gap: 2rem;
}
.secondeContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imageWrapper {
    margin-top: 10vh;
    position: relative;
    width: 50%;

}

.turtle {
    object-fit: contain;
    position: absolute;
    margin-left: 300px;
}
