.sectionAboutMe {
  border-top: solid 5px black;
}
.sectionAboutMe__container {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  background: #f8f4e2;
  gap: 20px;
  color: #0d1f18;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
  font-family: Poppins, sans-serif;
}
.sectionAboutMe__title {
  font-weight: bolder;
  font-size: xx-large;
  color: #0d1f18;
  font-family: Anton, sans-serif;
  background-color: #f8f4e2;
  padding: 20px 0 20px 50px;
}
.sectionAboutMe__description {
  display: flex;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: x-large;
  display: block;
  font-weight: bolder;
}
