.section__container{
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    min-height:300px;
    background:#F8F4E2 ;
    gap:20px;
    color: #0D1F18;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
    font-family: Anton, sans-serif;
    padding: 30px;
}
.section__title{
    padding: 15px;
    font-weight: bolder;
    font-size: xx-large;
}
 .section__p{
     display: flex;
     padding-left:100px;
     font-size: x-large;
     line-height: 2;
     top:0;
 }
.sectionAboutMe{
    background-image: url("/assets/Vector.svg");
    background-repeat: no-repeat;
}


