.testimonials__title {
  border-top: solid 5px #000;
  font-family: Anton, sans-serif;
  font-size: xx-large;
  background: #f8f4e2;
  padding: 20px 0 20px 50px;
  font-weight: bolder;
  color: #1f3d2b;
}

.testimonials__container {
  background: #f8f4e2;
}

.testimonials__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 32px;
  gap: 24px;
  align-items: start;
  justify-items: stretch;
}
