.testimonials__title {
  border-top: solid 5px #000;
  font-family: Anton, sans-serif;
  font-size: xx-large;
  background: #f8f4e2;
  padding: 20px 0 20px 50px;
  font-weight: bolder;
  color: #1f3d2b;
}

.testimonials__container {
  display: grid;
  gap: 20px;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  background: #f8f4e2;
  padding: 50px;
}

.testimonials__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  background: #0d1f18;
  height: auto;
  /*   margin-left: 25%;
 */
  padding: 10px;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;

  border-radius: 0 40px 0 40px;
}
.testimonials__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials__avatar__wrapper {
  width: 150px;
  height: auto;
  border-radius: 0 40px 0 40px;
  border: solid #1f3d2b 5px;
  overflow: hidden;
}
.testimonials__avatar__and__text__container {
  display: flex;
  flex-direction: row;
  background-color: #f8f4e2;
  border-radius: 0 40px 0 40px;
  padding: 10px;
  gap: 50px;
  border: solid 10px #c58f32;
  overflow: hidden;
  font-size: larger;
}

.testimonials__green__backgroud {
  height: auto;
  width: 100%;
  background-color: #54b47a;
  border: solid 10px#54b47a;
  border-radius: 0 40px 0 40px;
}

.testimonials__text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: anton, sans-serif;
}

.testimonials__message {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f4e2;
  border-radius: 0 40px 0 40px;
  padding: 20px;
  gap: 50px;
  border: solid 10px #c58f32;
  font-family: anton, sans-serif;
  font-size: larger;
  word-wrap: break-word;
  width: auto;
}

/* ----- MOBILE ----- */
@media (max-width: 768px) {
  .testimonials__section {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }

  .testimonials__avatar__and__text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .testimonials__avatar__wrapper {
    justify-content: center;
    display: flex;
    width: 120px;
    height: 120px;
  }

  .testimonials__text__wrapper {
    /*   text-align: center; */
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .testimonials__avatar__wrapper {
    width: 90px;
    text-align: center;
    height: 90px;
  }
}

/* ----- VERY SMALL MOBILE ----- */
@media (max-width: 480px) {
  .testimonials__avatar__wrapper {
    width: 100px;
    height: auto;
  }

  .testimonials__avatar__and__text__container {
    border-width: 6px;
    padding: 8px;
  }
}
