.professionalExperience__container {
  border-top: solid 5px black;
  background: #f8f4e2;
  padding-bottom: 40px;
}
.professionalExperience__title {
  background: #f8f4e2;
  padding: 20px 0 20px 50px;
  font-weight: bolder;
  font-family: Anton, sans-serif;
  color: #1f3d2b;
  font-size: xx-large;
}
.professionalExperience__section {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
